Node-red flow/flows.json
[{"id":"1479b2ba.ac95dd","type":"tab","label":"autoai","disabled":false,"info":""},{"id":"4e8a65c3.18ecbc","type":"http request","z":"1479b2ba.ac95dd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":100,"wires":[["d2cd5dd.f0dcca"]]},{"id":"d2cd5dd.f0dcca","type":"function","z":"1479b2ba.ac95dd","name":"Pre Prediction","func":"var Text_Id = global.get('Text_Id')\nvar Text = global.get('Text')\nvar Dates = global.get('Date')\nvar Location = global.get('Location')\nvar token=msg.payload.access_token\nvar instance_id=\"6d60008f-6133-4a13-a9ca-5ea3a01c162f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Text_Id\", \"Text\", \"Date\", \"Location\"], \"values\": [[Text_Id,Text,Dates,Location]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["8baf8790.867d28"]]},{"id":"8baf8790.867d28","type":"http request","z":"1479b2ba.ac95dd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/303ea40c-0c8c-4ef4-9d63-d29e2c6741c4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":180,"wires":[["de9a7515.112668"]]},{"id":"df4238b3.a310f8","type":"ui_text","z":"1479b2ba.ac95dd","group":"2604cd3.8eeec32","order":2,"width":6,"height":1,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-center","x":580,"y":40,"wires":[]},{"id":"de9a7515.112668","type":"function","z":"1479b2ba.ac95dd","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["df4238b3.a310f8","2c4ce36e.dd264c","2adddf37.b2024","5c89bc04.b03fa4"]]},{"id":"6b7c58c7.bc0908","type":"ui_form","z":"1479b2ba.ac95dd","name":"","label":"","group":"2604cd3.8eeec32","order":1,"width":6,"height":5,"options":[{"label":"Text_Id","value":"RD","type":"number","required":true,"rows":null},{"label":"Text","value":"A","type":"text","required":true,"rows":null},{"label":"Date","value":"MS","type":"text","required":true,"rows":null},{"label":"Location","value":"ST","type":"text","required":true,"rows":null}],"formValue":{"RD":"","A":"","MS":"","ST":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["f8bc2a36.1b98c8"]]},{"id":"f8bc2a36.1b98c8","type":"function","z":"1479b2ba.ac95dd","name":"","func":"global.set(\"Text_Id\",msg.payload.RD)\nglobal.set(\"Text\",msg.payload.A)\nglobal.set(\"Date\",msg.payload.MS)\nglobal.set(\"Location\",msg.payload.ST)\nvar apikey=\"S2xjPY6T03W5Rgx8ZQXLQ7gYHfW88NGY-qjUk7uM6Ctk\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":160,"wires":[["4e8a65c3.18ecbc"]]},{"id":"2c4ce36e.dd264c","type":"debug","z":"1479b2ba.ac95dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":260,"y":300,"wires":[]},{"id":"2adddf37.b2024","type":"ui_chart","z":"1479b2ba.ac95dd","name":"","group":"e17784da.939678","order":1,"width":6,"height":6,"label":"","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"+20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":200,"wires":[[]]},{"id":"5c89bc04.b03fa4","type":"ui_gauge","z":"1479b2ba.ac95dd","name":"","group":"d20a25c0.e4ec98","order":1,"width":6,"height":6,"gtype":"wave","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#e01a1a"],"seg1":"","seg2":"","x":820,"y":140,"wires":[]},{"id":"2604cd3.8eeec32","type":"ui_group","z":"","name":"prediction","tab":"add9c577.d28658","order":1,"disp":true,"width":"6","collapse":false},{"id":"e17784da.939678","type":"ui_group","z":"","name":"Chart view","tab":"add9c577.d28658","order":2,"disp":true,"width":"6","collapse":false},{"id":"d20a25c0.e4ec98","type":"ui_group","z":"","name":"Sentiment ","tab":"add9c577.d28658","order":3,"disp":true,"width":"6","collapse":false},{"id":"add9c577.d28658","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis of COVID-19 – Visualization Dashboard","icon":"dashboard","disabled":false,"hidden":false}]